body {
  background-color: #efeeea;
}

h1 {
  font-size: large;
}

.container {
  background-color: #ffffff;
}

.border-main {
  border-left: 15px solid #ff6291;
  border-right: 15px solid #ff6291;
}

.main-color {
  color: #ff6291;
}

.sub-color {
  color: #43ff01;
}

.border-sub {
  border-left: 10px solid #43ff01;
}

footer {
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}

img {
  height: auto;
  width: 200px;
}

@media screen and (min-width: 480px) { }

/* ipad縦 */
@media screen and (min-width: 768px) { }

/* PC・ipad横 */
@media screen and (min-width: 1024px) {

  .container {
    font-size: large;
  }

  .border-sub {
    font-size: x-large;
  }

  h1 {
    font-size: xx-large;
  }

  .description {
    font-size: large;
  }

}
