body {
  background-color: #efeeea;
}

h1 {
  font-size: large;
}

img {
  height: auto;
  width: 200px;
}

.container {
  background-color: #ffffff;
}

.nav-info {
  font-size: large;
}

.border-main {
  border-left: 15px solid #ff6291;
  border-right: 15px solid #ff6291;
}

.main-color {
  color: #ff6291;
}

.border-sub {
  border-left: 10px solid #43ff01;
}

.sub-color {
  color: #43ff01;
}

.border-sub-another {
  border-left: 10px solid #ffbd59;
}

.sub-another-color {
  color: #ffbd59;
}

.emphasis {
  font-size: large;
  font-weight: bold;
}

/* 特徴 */
.feature_left-top{
  transform: rotate(-45deg);
  font-size: large;
}
.feature_right-top{
  transform: rotate(45deg);
  font-size: large;
}
.feature_left-bottom{
  transform: rotate(-135deg);
  font-size: large;
}
.feature_right-bottom{
  transform: rotate(135deg);
  font-size: large;
}

/* ステーション案内 */
.mail{
  font-size: small;
}

/* 会社概要 */
.history{
  font-size: small;
}

/* 理念・方針 */
.philosophy-text {
  width: 240px;
}
.philosophy{
  font-size: large;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffbd59;
  text-align:center;
  line-height: 80px;
}

/* フッター */
footer {
  font-size: xx-small;
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}
.footer-title{
  font-size: small;
}


@media screen and (min-width: 480px) { }

/* ipad縦 */
@media screen and (min-width: 768px) {

  .emphasis {
    font-size: x-large;
  }

  .feature_left-top{
    font-size: xx-large;
  }
  .feature_right-top{
    font-size: xx-large;
  }
  .feature_left-bottom{
    font-size: xx-large;
  }
  .feature_right-bottom{
    font-size: xx-large;
  }

  .mail{
    font-size: large;
  }

  .history{
    font-size: medium;
  }
  .date{
    text-align: right;
  }

  .philosophy-text {
    width: 320px;
  }
  .philosophy{
    font-size: x-large;
    width: 120px;
    height: 120px;
    line-height: 120px;
  }

  footer {
    font-size: medium;
  }
  .footer-title{
    font-size: large;
  }
  .footer-mail{
    font-size: medium;
  }

}

/* PC・ipad横 */
@media screen and (min-width: 1024px) {

  .container {
    font-size: large;
  }

  .border-sub {
    font-size: x-large;
  }

  h1 {
    font-size: xx-large;
  }

  .description {
    font-size: large;
  }

  .philosophy-text {
    width: 705px;
  }

}
