body {
  background-color: #efeeea;
}

h1 {
  font-size: large;
}

.container {
  background-color: #ffffff;
}

.border-main {
  border-left: 15px solid #ff6291;
  border-right: 15px solid #ff6291;
}

.main-color {
  color: #ff6291;
}

.border-sub {
  border-left: 10px solid #43ff01;
}

.sub-color {
  color: #43ff01;
}

.border-sub-another {
  border-left: 10px solid #ffbd59;
}

.sub-another-color {
  color: #ffbd59;
}

footer {
  font-size: xx-small;
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}

.emphasis {
  font-size: large;
  font-weight: bold;
}

.feature_left-top{
  transform: rotate(-45deg);
  font-size: large;
}
.feature_right-top{
  transform: rotate(45deg);
  font-size: large;
}
.feature_left-bottom{
  transform: rotate(-135deg);
  font-size: large;
}
.feature_right-bottom{
  transform: rotate(135deg);
  font-size: large;
}

.footer-title{
  font-size: small;
}

.philosophy{
  font-size: large;
  width: 180px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffbd59;
  text-align:center;
  line-height: 80px;
}

img {
  height: auto;
  width: 200px;
}

@media screen and (min-width: 480px) { }

/* ipad縦 */
@media screen and (min-width: 768px) {

  footer {
    font-size: medium;
  }

  .emphasis {
    font-size: x-large;
  }

  .feature_left-top{
    font-size: xx-large;
  }
  .feature_right-top{
    font-size: xx-large;
  }
  .feature_left-bottom{
    font-size: xx-large;
  }
  .feature_right-bottom{
    font-size: xx-large;
  }

  .philosophy{
    font-size: x-large;
    width: 150px;
    height: 150px;
    line-height: 150px;
  }

  .footer-title{
    font-size: large;
  }

}

/* PC・ipad横 */
@media screen and (min-width: 1024px) {

  .container {
    font-size: large;
  }

  .border-sub {
    font-size: x-large;
  }

  h1 {
    font-size: xx-large;
  }

  .description {
    font-size: large;
  }

}
